<div id="container-center"> <h1>Freshman</h1>

Throughout High School (Freshman - Senior Year)

Take college-prep courses - Take challenging courses in high school (Honors, AP, IB, HS/college dual enrollment), focusing on the core academics: English, Math, Science, History, World Languages.  Rigorous courses that go beyond the minimum graduation requirements will make you a more impressive applicant and can even earn you college credit while in high school!

Focus on your grades - Your high school transcript is considered one of the most important parts of your college application, and good grades will distinguish you from many other applicants.

Explore and commit to extracurricular and leadership activities - Freshman year is a great time to try several different extracurricular activities to see which ones are most interesting to you.  Once you decide what you like, dedicate more time to fewer activities in order to become deeply involved.

Find summer volunteer opportunities/jobs/internships - Summer is a great time to earn extra money for college while exploring different career fields.

If possible, meet regularly with your guidance counselor - Get to know your guidance counselor early in your high school career to talk about your plans for high school, college, and career.

Begin an ongoing dialogue with your parents about how to pay for college - Start discussing ASAP, both in terms of why you want to go to college and how you're going to pay for it.  That way, you and your family will be comfortable with the topic when it's crunch time in 11th and 12th grade.

Start  saving for college - Even if you can only put aside a few dollars each month, every little bit helps and creating a college savings account makes the idea of going on to higher education much more real.

Search and apply for non-traditional scholarships (those available before you are a senior in high school) - Though most scholarships are available only for seniors applying to college, there are some scholarships available regardless of where you are in your high school career.

Junior Year, Fall (Sep – Nov)

Take the PSAT - Take the PSAT as a junior to practice for the SAT and qualify for the National Merit Scholarship program.

Prepare for the SAT and/or ACT - Begin preparing for the SAT and/or ACT at the start of junior year, with plans to take each test twice.  Continue preparing throughout your junior year.

Learn more about colleges - Use online search tools, attend college fairs, speak with college reps and ask friends already in college for their thoughts on different colleges to begin formulating an opinion of where you want to go.  Continue this process throughout junior and senior year.

Make local visits to college campuses - Take time in the fall of your junior year to visit local colleges.  Even if these aren't schools you want to attend, this will provide you with an initial sense of what college is like.

<h2>Sophomore</h2>
Junior Year, Fall (Sep – Nov)

Take the PSAT - Take the PSAT as a junior to practice for the SAT and qualify for the National Merit Scholarship program.

Prepare for the SAT and/or ACT - Begin preparing for the SAT and/or ACT at the start of junior year, with plans to take each test twice.  Continue preparing throughout your junior year.

Learn more about colleges - Use online search tools, attend college fairs, speak with college reps and ask friends already in college for their thoughts on different colleges to begin formulating an opinion of where you want to go.  Continue this process throughout junior and senior year.

Make local visits to college campuses - Take time in the fall of your junior year to visit local colleges.  Even if these aren't schools you want to attend, this will provide you with an initial sense of what college is like.
<h2>Senior </h2>
Take the SAT and/or ACT – If you feel like you can improve on your initial SAT/ACT results, take the tests for the second (or at most, third) time in the fall of senior year.  If you are worried about the cost of the test, ask your guidance counselor for a fee waiver!

Revise college application essays - Once senior year begins, ask a teacher to proofread your application essays and then make any revisions and prepare final drafts before college applications are due.

Ask for letters of recommendation - At least a month prior to the deadline, provide your recommenders with bullet points listing how you excelled academically in their classes along with the letter of recommendation forms and stamped envelopes addressed to the colleges where you are applying.

Gather all application materials - Make sure you or your guidance counselor have necessary materials for college admissions including forms, test scores, essays, recommendations, and transcripts.  If you are worried about the cost of the application, ask your guidance counselor or college of interest for a fee waiver!

Submit early decision application, if desired - Early decision, usually due in November, requires a binding commitment in exchange for early acceptance.

Submit early action applications - For early action schools, you receive a decision early but can wait for the regular decision deposit deadline to make your final choice.

Submit CSS PROFILE if applying early  - Though the FAFSA cannot be submitted until after January 1st, certain schools require the CSS PROFILE in the fall if you plan to go through their early application process.

Ensure official SAT and ACT score reports are sent to early application schools - Along with your early application (including application forms, letters of recommendation, essays, etc.), go to College Board (SAT) and ACT Student (ACT) websites to send colleges your official test score reports.

Go into early admissions interviews confident - Interviews for some early action/decision schools happen in the Fall, but don't stress out.  You've done your research; now it’s just about having a conversation!
<br/>
<br/>
Learn more at
<a href="https://www.khanacademy.org/college-admissions/get-started/Introduction-ca/a/master-timeline-college-admissions"> KhanAcademy</a>
</div>
