<div id="mini-container">
  Name: {{album.artistName}}
  <br>
  Collection Name: {{album.collectionName}}
  <br>
  <img ng-src= "{{album.artworkUrl100}}" alt="album cover pic" err-src="http://google.com/favicon.ico">
  <br>
  Track Count: {{album.trackCount}}
  <br>
  Primary Genre: {{album.primaryGenreName}}
  <br>
  <img ng-if="album.collectionExplicitness === 'explicit'" ng-src="http://comps.canstockphoto.com/can-stock-photo_csp17660486.jpg" height="42" width="42" alt="smiley">
  <br>
  <button ng-click="click()">Favorite</button>
  <br>
</div>
